@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome Student Management System</h1>
    <h4><a href="/Login/Index">Please login.</a></h4>
</div>
